body{
  box-sizing: border-box;
  background-color: #f2f2f2;


}

.contenedor{
  max-width: 1100px;
  margin: 0 auto;

}
h2{
  flex: 0 1 100%;
}
img{
  max-width: 100%;
}
@media screen and(min-width:580px;  ){

  .contenido-principal{
    display: flex;
    flex-wrap: wrap;
  }

}
