body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-sitio {
    background-color: #03A9F4;
    padding:0 20px;
    /* Flex aqui*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}
/* este media query funciona hasta que estamos por encima de los 768px de ancho*/
@media screen and (min-width:768px) {
    .header-sitio {
        /* Flex aqui*/
        flex-direction: row;
        justify-content: space-between;



    }
}
.header-sitio h1 {
    color:white;
}

nav {
    /* Flex aqui*/
    align-self: center;

}
nav a {
    color: white;
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}
h1, h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
h2 {
    color:white;
}

.contenedor-flex {
    margin-top: 20px;
    /* Flex aqui*/
    display: flex;
    flex-direction: column;

}
/* este media query funciona hasta que estamos por encima de los 768px de ancho*/
@media screen and (min-width:768px) {
    .contenedor-flex {
       /* Flex aqui*/
       flex-direction: row;

    }
}

.principal {
    /* Flex aqui*/
    order:2;

}
aside {
    /* flex aqui*/
    margin-bottom: 1rem;

}

aside {
    background-color: #03A9F4;
}
@media screen and (min-width:768px) {
    .principal {
        /* Flex aqui*/
        flex: 0 1 60%;
        margin-right: 1rem;
        order: unset;

    }
    aside {
        /* Flex aqui*/
        flex: 1;
    }
}

.servicios .servicio {
    /* Flex aqui*/

}

/* ponemos display flex dentro de el media query para cuando este en tamaño más
 grande se pongan uno frente al otro y cunado pasamos a tamaño más pequeño se pone uno
debajo del otro porque el default de los divs es display block */
@media screen and (min-width:768px) {
  .servicios {
      /* Flex aqui*/
      display: flex;

  }
    .servicios .servicio {
        /* Flex aqui*/
          flex: 1;

    }
}

.servicio {
    padding: 5px;
    background-color: #E53935;
}


.servicio:nth-child(2) {
    background-color: #8E24AA;
}

.servicio:nth-child(3) {
    background-color: #3F51B5;
}

footer {
    height: 100px;
    background-color: #8E24AA;
    margin-top: 20px;
    /* Flex aqui*/
    display: flex;
    /* alineamos al centro horizontalmente  */
    justify-content: center;
    /* alineamos verticalmente */
    align-items: center;
}
footer p {
    color: white;
}
